@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url("assets/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#legends {
  background-color: rgb(31 41 55);
}

#weapons {
  background-color: rgb(31 41 55);
}

#footer {
  background-color: rgb(31 41 55);
}
